{% extends "tv/base.html" %}
{% block content %}
<h2 class="display-2 text-center mb-3">News Feed </h2>
    <h4 class="display-5 text-center mb-3">Powered by TVGuide</h4>
    {% for entry in feeds.entries %}


    <div class="list-group">
        <a href="{{entry.link}}" class="list-group-item list-group-item-action ">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{entry.title}}</h5>
    </div>
  </a>
    </div>



    {% endfor %}
{%  endblock content %}