{% extends "tv/base.html" %} {% block content %}
    {%   if poster_path %}
        <img src="https://image.tmdb.org/t/p/w500/{{ poster_path }}"  style="width: 250px" class="rounded mx-auto d-block" alt="...">
    {% endif %}
<h1>{{ name }} {% if not in_production  %}<span class="badge badge-danger">Cancelled </span>{% endif %} </h1>
    <h6>|{% for g in genres %}
    {{ g.name }} |
    {% endfor %} </h6>
    <h3>{{ overview }}</h3>
    <h4>First Air Date: {{ first_air_date }}</h4>
    {% if in_production and  next_episode_to_air == null %}<h4>Next Air Date: TBD</h4>
    {% elif in_production and  next_episode_to_air != null%} <h4>Next Air Date: {{ next_episode_to_air.air_date }}</h4>

    {% endif %}
    <button class="btn btn-outline my-2 my-sm-0" type="submit" name = "addBtn">Add to my shows</button>
{% endblock content %}

