{% extends "tv/base.html" %} {% block content %}

{% for show in shows %}



    <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://image.tmdb.org/t/p/w500/{{ show.backdrop_path }}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ show.name }}</h5>
          <h6 class="card-title">{{ show.id }}, First Air date: {{ show.first_air_date}}</h6>
        <p class="card-text"> <p class="card-text">{{ show.overview }}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>



{% endfor %}
{% endblock content %}